<div style="margin: 0px 74.5px;margin-top: 28px;" class="row">
    <h1 style="font-weight: 300;width: 100%;">Otros temas de tu interes</h1>

    <app-topic 
        *ngFor="let item of Data" 
        [title]="item.title" 
        [description]="item.description" 
        [link]="item.linkName"
        [image]="item.image">
    </app-topic>


</div>

