
.bannerImagen {
    width: 100%;
    height: 460px;
}

.banner-text-1 {    
    font-weight: 300;
    font-size: 61px;
    color: #FFFFFF;
    opacity: 1;
}

.banner-text-2 {    
    font-weight: 300;
    font-size: 30px;
    color: #FFFFFF;
    opacity: 1;
}

.left-input-2 {
    margin-left: 24%;
    position: absolute;
    margin-top: -11.6%;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font: Light 61px/122px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.input-govco {
    color: #0b457f !important;
    border-bottom: 1px solid #004884 !important;
    background-color: #e5eefb;
    border: unset;
    line-height: 1.4 !important;
    border-radius: 24px !important;
    width: 792px !important;
}

.banner-container {
    font-style: Montserrat;
    background-image: url('../../assets/images/2nueva-bandera--agosto.png');
    height: 390px;
    margin-top: 110px;
}