<div class="banner-container mt-8">
    <br>
    <br>
    <h1 class="text-center text-white tex banner-text-1">Te damos la bienvenida!</h1>
    <div class="" style="position: relative;">
        <input style="margin: auto;" type="text" class="form-control input-govco text-left"
            placeholder="Encuentra lo que buscas" id="input-simple-govco" />
        <span style="position: absolute;top: -6px;left: 1040px;" class="govco-icon govco-icon-search-cn"></span>
    </div>
    <h1 class="text-center text-white tex banner-text-2">Toda la oferta del Estado colombiano a tu alcance</h1>
</div>
