<div style="margin-top: 61px;display: block;height: 630px;">
    <h1 style="font-weight: 300;">Informate</h1>
 
    <div
        style="float: left;height: 275px;width: 670px;overflow: hidden;border-radius: 10px;margin-left: 15px;margin-right: 20px;">
        <div
            style="border-radius: 10px;margin: 10px;height: 241px;width: 660px;overflow: hidden;box-shadow: 0px 3px 10px #00000080; background-image: url('../../../assets/images/1.png');">
        </div>
        <div class="card-info-double-text">
            {{ Cards.mainCard.date | date }}
            <br>
            <span>{{Cards.mainCard.message}}</span>
        </div>
    </div>


    <div style="float: left;height: 275px;width: 339px;margin-left: 15px;">
        <div class="card-info-image" [style.background-image]="imgcar1">
        </div>
        <div class="card-info-text">
            {{Cards.cards[0].date | date }}
            <br>
            <span>{{Cards.cards[0].message}}</span>
        </div>
    </div>

    <div style="min-height: 20px;width: 100%;float: left;"></div>

    <div style="float: left;height: 275px;width: 339px;margin-left: 15px;">
    
     <div class="card-info-image" [style.background-image]="imgcar2">
        </div>
        <div class="card-info-text">
            {{Cards.cards[1].date | date }}
            <br>
            <span>{{Cards.cards[1].message}}</span>
        </div>
    </div>

    <div style="float: left;height: 275px;width: 339px;margin-left: 15px;">
        <div class="card-info-image" [style.background-image]="imgcar3">
        </div>
        <div class="card-info-text">
            {{Cards.cards[2].date | date }}
            <br>
            <span>{{Cards.cards[2].message}}</span>
        </div>
    </div>

    <div style="float: left;height: 275px;width: 339px;margin-left: 15px;">
        <div class="card-info-image" [style.background-image]="imgcar4">
        </div>
        <div class="card-info-text">
            {{Cards.cards[3].date | date }}
            <br>
            <span>{{Cards.cards[3].message}}</span>
        </div>
    </div>

    <!-- <app-card-info-double [date]="Cards.mainCard.date" [message]="Cards.mainCard.message"></app-card-info-double>
    
        <app-cardinfo [date]="Cards.cards[0].date" [message]="Cards.cards[0].message"
        [background]="Cards.cards[0].background"></app-cardinfo>
  
    <div style="min-height: 20px;width: 100%;float: left;"></div>
    
    <app-cardinfo [date]="Cards.cards[1].date" [message]="Cards.cards[1].message"
        [background]="Cards.cards[1].background"></app-cardinfo>
    <app-cardinfo [date]="Cards.cards[2].date" [message]="Cards.cards[2].message"
        [background]="Cards.cards[2].background"></app-cardinfo>
    <app-cardinfo [date]="Cards.cards[3].date" [message]="Cards.cards[3].message"
        [background]="Cards.cards[3].background"></app-cardinfo> -->
</div>
