.topic-card {
    background-color: white;
    height: 245px;
    min-width: 580px;
    margin: 2px;
    border-radius: 10px;
    padding: 34px;
    box-shadow: 0px 3px 6px #00000029;
    float: left;
}

.topic-card > div > span:first-child {
    font: normal normal 300 33px/39px Work Sans;
}

.topic-card > div > span:last-child {
    font: normal normal normal 16px/19px Work Sans;
}